<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Please do not loose this information!</h1>
    <hr class='my-4'>
    <h1>Ticket: <span class="badge badge-primary"><%= @parking_transaction.ticket %></span></h1>
  </div>
</div>
