<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create new garage: </h1>
      <hr class='my-4'>
      <%= form_for @garage do |f| %>
        <%= render 'fields', f: f %>
        <%= link_to_add_fields 'Add Floor', f, :floors %>
        <div class="form-group">
          <%= f.submit "Create", class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
