<div class="form-group">
  <label for="name">Floor Name</label>
  <%= form.text_field :name %>
</div>
<div class="form-group">
  <label for="number_of_spaces">Number of spaces</label>
  <%= form.text_field :number_of_spaces %>
</div>
